.aboutButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 0px;
  position: fixed;
  width: 110px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  padding: 10px 20px;
  left: 10px;
  bottom: 10px;
  border-radius: 20px;
  font-weight: 700;
}
